<mat-form-field
  appearance="fill"
  class="drop-down-input"
  [class.drop-down-input-active] ="showPanel$ | async"
  cdkOverlayOrigin
  #originOverlay="cdkOverlayOrigin"
>
  <mat-icon mat Prefix>search</mat-icon>
  <mat-label>Search</mat-label>
  <input matInput name="dropdown-search" placeholder="Start to type..." />
  <mat-icon matSuffix>arrow_drop_down</mat-icon>
</mat-form-field>
<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  [cdkConnectedOverlayOrigin]="originOverlay"
  [cdkConnectedOverlayOpen]="showPanel$ | async"
>
  <section class=" drop-down-serch-panel  mat-elevation-z1">My panel</section>
</ng-template>
